- @title = 'Login'

= page_header do
  %h1 Login

= form_with url: sessions_path, class: 'form-inline' do |f|
  .form-group
    = password_field_tag :password, nil, autofocus: true, required: true, class: 'form-control mr-1'

  = submit_tag 'Login', class: 'btn btn-primary'
