.page-header
  .header-buttons
    = link_to @asset, class: 'btn btn-large btn-default' do
      %i.icon-arrow-left
      Back

  %h1
    = link_to @asset, @asset
    \- New Snapshot

= render 'form'
