- if obj.errors.any?
  .alert.alert-error
    %h3
      = pluralize obj.errors.count, 'error'
      prohibited this
      = obj.class.name.titleize
      from being saved:

    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
