%h2.text-center{style: 'margin-top: 0;'} Net Worth Over Time

= net_worth_line_with_focus_graph

%hr

%h2.text-center{style: 'margin-top: 0;'} Financial Independence

%br

= financial_independence_progress
