.page-header
  .header-buttons
    = link_to @asset, class: 'btn btn-lg btn-default' do
      = icon :arrow_left
      Back

  %h1
    = link_to @asset, @asset
    \- New Contribution

= render 'form'
