- @title = "Editing Asset - #{@asset}"

.page-header
  .header-buttons
    = link_to financial_assets_path, class: 'btn btn-large btn-default' do
      %i.icon-arrow-left
      Back

  %h1= @title

= render 'form'
