//= require_self
//= require nv.d3
//= require_tree .

@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'font-awesome';

body {
  padding-top: 5rem;
}

table {
  td {
    vertical-align: middle !important;
  }
}

.navbar-brand {
  color: yellowgreen !important;
}
