//= require_self
//= require bootstrap_and_overrides
//= require nv.d3
//= require_tree .

body {
  padding: 60px 0 20px 0;
}

.header-buttons {
  float: right;

  a {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.table-actions {
  width: 81px;

  a {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
