//= require_self
//= require_tree .

@import 'bootstrap';
@import 'tempusdominus-bootstrap-4';
@import 'font-awesome';

body {
  padding-top: 5rem;
}

table {
  td {
    vertical-align: middle !important;
  }

  .fit {
    width: 1%;
  }
}

.navbar-brand {
  color: yellowgreen !important;
}
