//= require_self
//= require nv.d3
//= require_tree .

@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'font-awesome';

body {
  padding: 50px 0 20px 0;
}

#content {
  padding-top: 25px;
}

.table-actions {
  width: 101px;

  a {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
