#asset-snapshots-table {
  .date {
    width: 130px;
  }

  .table-actions {
    width: 81px;
  }

  .value {
    width: 70px;
  }
}

#asset_snapshot_date_1i {
  width: 70px;
}

#asset_snapshot_date_2i {
  width: 110px;
}

#asset_snapshot_value {
  width: 95px;
}
