#contributions-table {
  .amount {
    width: 70px;
  }

  .date {
    width: 145px;
  }
}

#contribution_date_1i {
  width: 70px;
}

#contribution_date_2i {
  width: 110px;
}

#contribution_date_3i {
  width: 55px;
}

#contribution_amount {
  width: 110px;
}
