.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;

  &:before {
    background-color: #eeeeee;
    bottom: 0;
    content: ' ';
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 3px;
  }

  & > li {
    position: relative;

    &:after, &:before {
      content: ' ';
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

.timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  float: left;
  padding: 20px;
  position: relative;
  width: 47%;

  &:after {
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-top: 14px solid transparent;
    content: ' ';
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 17px;
  }

  &:before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-top: 15px solid transparent;
    content: ' ';
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 16px;
  }
}

.timeline-heading {
  .btn {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.timeline-title {
  color: inherit;
  margin-top: 0;
}

.timeline-body {
  p:last-child {
    margin-bottom: 0;
  }
}

li.timeline-inverted > .timeline-panel {
  float: right;

  &:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  &:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
}

@media (max-width: 767px) {
  .timeline {
    &:before {
      left: 10px
    };

    & > li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      & > .timeline-panel {
        float: right;
        width: calc(100% - 35px);

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
      }
    }
  }
}
